* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 1366px;
    display: flex;
    justify-content: center;
    background-color: #FFFFEC;
}

/* navigation bar */
.nav-bar {
    height: 100px;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img {
    height: 95px;
    width: auto;
}

/* menu */
.nav-bar a {
    text-decoration: none;
    padding: 0 5px 8px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: #76453B;
}

.nav-bar a:hover {
    border-bottom: 2px solid;
    color: #f96c00;
}

.scale {
    height: 10px;
    background-color: #eebc19;
}

/* main */
main {
    width: 1366px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFEC;
}

/* main container */
.main-cont {
    display: flex;
    align-items: center;
    height: 450px;
    background-color: #aeb5bb;
}
.image-box {
    height: 450px;
    flex-grow: 1;
    background-image: url("images/background1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.5s ease;
}

.back, .next{
    margin: 0 3px 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 440px;
    width: 60px;
    font-size: 2.5rem;
    color: #eebc19;
    cursor: pointer;
}

.next:active {
    border: 2px solid white;
    border-radius: 5px;
}

.back:active {
    border: 2px solid white;
    border-radius: 5px;
}
.info1 {
    width: 1366px;
    display: flex;
    align-items: center;
    
}

.info-image-box {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    height: 250px;
    margin-right: 10px;
    margin-left: 10px;
}

.info-image-box img {
    height: 325px;
    padding-right: 20px;
    
}

.why {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 50px;
    color: #005B41;
}

.why ul li{
    margin-bottom: 20px;
    list-style-type: none;

}
.info2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #76453B;
}

/* city-table */
.city-table {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

#city-name {
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    height: 35px ;
    width: 120px;
    border: 1.5px rgb(3, 26, 61);
    border-style: dashed solid;
    border-radius: 5px;
}

/* contact */
footer {
    height: 110px;
    width: 1366px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #eebc19;
}

footer ul {

    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.terms-condition {
    width: 30%;
    font-size: .90rem;
}

.social-media {
    width: 15%;
}

footer ul li a {
    text-decoration: none;
    color: #353238;
    font-family: Arial, Helvetica, sans-serif;
}

.copy-right {
    color: #353238;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .90rem;
}
